* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

body {
    width: 100%;
    height: auto;
}

nav {
    width: 100%;
    height: 100%;
    /* border: 1px solid rgb(0, 255, 64); */
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-right: 50px;
}

.body-img {
    width: 100%;
    height: 100vh;
    background: url("happy-people-celebrating-and-having-fun_23-2147651892.jpg") no-repeat center/cover;
}

nav img {
    border-radius: 50%;
}

.search {
    width: 400px;
    height: 30px;
    display: flex;
    align-items: center;
    border-radius: 10px;
    padding: 0 10px;
    /* border: 1px solid red; */
    background-color: #fff;
}

.search input {
    width: 80%;
    height: 100%;
    background-color: #fff;
    padding-left: 10px;
    border: none;
    outline: none;
}

.search i {
    color: rgb(0, 0, 0);
}

nav img {
    width: 60px;
}

header {
    width: 100%;
    height: 80px;
    /* background-color: #b78f17; */
    /* border: 1px solid red; */
    padding: 0 30px;
}

.links {
    width: 600px;
    display: flex;
    /* align-items: center; */
    justify-content: space-between;
    /* border: 1px solid blue; */


}

.links a {
    text-decoration: none;
    color: #fff;
}

.links img {
    width: 20px;
    margin-left: 40px;
}

main {
    width: 100%;
    height: auto;
}

section {
    width: 100%;
    height: 900px;
    /* background-color: #000; */

    display: flex;
    position: relative;
}

.main-text {
    /* border: 1px solid red; */
    color: #fff;
    margin-left: 157px;
    width: 616px;
    height: 244px;
    flex-shrink: 0;
    margin-top: 134px;
    line-height: 80px;
}

.main-text h2 {
    color: #FF3F3F;
    font-family: Roboto Flex;
    font-size: 39.091px;
    font-style: normal;
    font-weight: 700;
    line-height: 99.5%;
    /* 38.896px */
}

.main-text h1 {
    color: #FFF;
    font-family: Roboto Flex;
    font-size: 86px;
    font-style: normal;
    font-weight: 600;
    line-height: 84.5%;
    margin-top: 15px;

}

.main-text p {
    color: #FFF;
    font-family: Roboto Flex;
    font-size: 28px;
    font-style: normal;
    font-weight: 700;
    line-height: 99.5%;
    letter-spacing: 1.26px;
    margin-top: 15px;
}

section img {
    top: 0;
    position: absolute;
    width: 500px;
    width: 974px;
    height: 903px;
    transform: rotate(4.5deg);
    flex-shrink: 0;
    /* border: 1px solid red; */
    left: 300px;
}

.body-two {
    width: 100%;
    height: 900px;
    /* background: url("./image\ 15.png") no-repeat center/cover; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* position: relative; */
}

.text-nima {
    color: #FF3F3F;
}

.body-two h1 {
    text-align: center;
    /* color: #FF3F3F; */
}

.icons {
    padding-top: 30px;
    width: 100%;
    height: 700px;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* border: 1px solid red; */
    gap: 40px;
}

.body-two-imgs {
    width: 70%;
    /* border: 1px solid blue; */
    display: flex;
    align-items: center;
    /* background-color: #000; */

}

.icon-text {
    /* border: 1px solid gold; */
    height: 100%;
    margin-left: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.icon-text h1 {
    font-size: 35px;
    text-align: start;
}

.body-two-imgs img {
    width: 100px;
    border-radius: 50%;
}


.body-three {
    width: 100%;
    height: 800px;
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    /* border: 1px solid red; */
}

.text-three {
    width: 227px;
    height: 24px;
    display: inline-flex;
    align-items: flex-start;
    gap: 37px;
    text-decoration: none;
    margin-top: 25px;
    margin-left: 95px;
    /* border: solid 1px red; */
}

.text-three a {
    text-decoration: none;
    color: #fff;
    font-family: Poppins;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.body-three a:nth-child(1) {
    color: #40CAC2;
    font-family: Poppins;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.text-four {
    width: 137px;
    height: 125px;
    display: inline-flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 11px;
    /* border: solid 1px red; */
    color: #fff;
    margin-left: 95px;
    margin-top: 40px;
}

.text-four {
    color: #FFF;
    font-family: Poppins;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.text-four h1 {
    color: #FFF;
    font-family: Arial;
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.body-threebutton {
    margin-left: 88px;
    margin-top: 30px;
    display: flex;
    width: 178px;
    height: 54px;
    padding: 15px 36px;
    justify-content: center;
    align-items: center;
    gap: 9px;
    flex-shrink: 0;
    border-radius: 18px;
    background: var(--Primary-color, #38BACC);
    color: #FFF;
    font-family: Poppins;
    font-size: 16 px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    border: none;

}

.body-three-img {
    margin-top: 56px;
    margin-left: 117px;
    width: 1278.918px;
    height: 700px !important;
    /* flex-shrink: 0; */
    /* background: rgba(32, 32, 32, 0.86); */
    /* border: 1px solid gold; */
}

.top {
    width: 1278.918px;
    height: 50%;
    flex-shrink: 0;
    /* border: 1px solid red; */
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    position: relative;
}

.top h3 {
    color: #FFF;
    font-family: Poppins;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-top: 14px;
    margin-left: 45px;
    position: absolute;
    top: 1px;
    left: -10px;
}

.top-img {

    display: flex;
    width: 228.728px;
    height: 300px;
    flex-direction: column;
    align-items: center;
    gap: 9px;
    flex-shrink: 0;
    color: #FFF;
    padding: 10px;
    /* border-radius: 20px; */
    background-color: #313131;
    /* border: 1px solid red; */
    transition: .4s;
}

/* .top-img:hover {
    box-shadow: rgba(247, 246, 246, 0.35) 0px 5px 15px;
    transition: .4s;
} */

.img-1-btn {
    width: 100px;
    height: 30px;
    border-radius: 10px;
    background-color: #FFF;
    border: none;
    cursor: pointer;
    margin-top: 10px;
    position: absolute;
    bottom: 2px;
}

.img-1-btn a {
    text-decoration: none;
    color: #000 !important;
    font-family: sans-serif;
}

.top a {
    color: rgb(173, 124, 19);
}

.img-1 a {
    color: rgb(173, 124, 19);
    text-decoration: none;
}

.img-1 {
    width: 145px;
    height: 100%;
    flex-shrink: 0;
    /* border: 1px solid red; */
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}


.img-1 span {
    font-size: 12px;
}


.img-1 span del {
    color: red;
}

.img-1 img {
    border-radius: 15px;
    width: 200px;

}

.bottom {
    width: 1278.918px;
    height: 298.882px;
    flex-shrink: 0;
    /* border: 1px solid red; */
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.body-four {
    width: 100%;
    height: 900px;
    background-color: #eeeeee;
    display: flex;
    /* border: 1px solid gold; */
    position: relative;
}

.four-img {
    margin-left: 95px;
    margin-top: 95px;
}

.five-div {
    width: 100%;
    height: 90%;
    /* border: 1px solid red; */
    display: flex;
    align-items: center;
    justify-content: center;
}


.text-five {
    width: 1374px;
    height: 700px;
    color: #FFF;
    text-align: center;
    font-family: Inter;
    font-size: 30px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    /* border: solid 1px blue; */
    /* margin: 300px 60px; */
}

.five-h {
    /* margin-top: -200px; */
    color: #000;
    margin-top: 100px;
}

.five-p {
    color: #000;
    font-size: 18px;
    /* border: solid 1px red; */
}


.inp {
    width: 50%;
    display: flex;
    gap: 30px;
    flex-direction: column;
    /* border: solid 1px red; */
}

.register {
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    /* border: solid 1px red; */
}

.five-number {
    color: #000;
    font-size: 18px;
    /* border: solid 1px rgb(44, 68, 172); */
}

.karta {
    color: #000;
    font-size: 18px;
    /* border: solid 1px rgb(44, 68, 172); */

}

.img-five {
    /* width: 55px; */
    right: 0;
    bottom: 0;
    display: flex;
    height: auto;
    position: absolute;
    /* border: 1px solid red; */
    margin: 30px 50px;
    gap: 3px;
    justify-content: center;
    align-items: center;

}

.img-five img {
    width: 40px;
    border-radius: 50%;
    /* border: 1px solid red; */
}

form {
    width: 350px;
    height: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 5px 25px;
    /* border: 1px solid rgb(0, 0, 0); */
    background-color: #ffffff;
    border-radius: 15px;
}

form input {
    width: 100%;
    height: 30px;
    border: 1px solid black;
    outline: none;
    margin-top: 5px;
    padding-left: 10px;
    border-radius: 10px;
}

form label {
    margin-top: 20px;
    color: #000;
    font-size: 18px;
}

.body-sex {
    width: 100%;
    height: 900px;
    background-color: #ffffff;
    display: flex;
    /* border: 1px solid gold; */
    position: relative;
}

.sex-img {
    padding-top: 30px;
    width: 100%;
    height: 700px;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* border: 1px solid red; */
    gap: 40px;
}

.sex-img {
    width: 70%;
    /* border: 1px solid blue; */
    display: flex;
    align-items: center;
    /* background-color: #000; */

}

.sex-img ul {
    /* border: 1px solid gold; */
    height: 100%;
    margin-left: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

 
   .button-cost {
       display: flex;
       align-items: center;
       font-family: inherit;
       font-weight: 500;
       font-size: 16px;
       padding: 0.7em 1.4em 0.7em 1.1em;
       color: white;
       background: #ad5389;
       background: linear-gradient(0deg, rgba(20, 167, 62, 1) 0%, rgba(102, 247, 113, 1) 100%);
       border: none;
       box-shadow: 0 0.7em 1.5em -0.5em #14a73e98;
       letter-spacing: 0.05em;
       border-radius: 20em;
       cursor: pointer;
       user-select: none;
       -webkit-user-select: none;
       touch-action: manipulation;
       width: 70px;
       height: 30px;
       
   }
   .button-text{
    text-decoration: none;
   }

   .button-cost:hover {
       box-shadow: 0 0.5em 1.5em -0.5em #14a73e98;
   }

   .button-cost:active {
       box-shadow: 0 0.3em 1em -0.5em #14a73e98;
   }
      

.body-twoo {
    width: 100%;
    height: 900px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* border: 1px solid gold; */
}

.icons-two {
    padding-top: 30px;
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* border: 1px solid red; */
    gap: 40px;
}

.body-two-imgss {
    width: 70%;
    height: 200px;
    /* border: 1px solid blue; */
    display: flex;
    align-items: center;
    /* background-color: #000; */

}

.body-two-imgss img {
    width: 150px;
}

.icon-text-two {
    /* border: 1px solid gold; */
    height: 100%;
    margin-left: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.seven-img {
    margin: 100px 200px;
}

.seven-img img {
    width: 300px;
    height: 300px;
}

.seven-img h1 {
    text-align: center;
    color: #FF3F3F;

}

.seven-two img {
    margin-left: 900px;
    margin-top: -250px;
}

.seven-two h2 {
    margin-left: 650px;
    margin-bottom: 10px;
    /* margin-bottom: 400px; */
}

.seven-three img {
    width: 250px;
    height: 200px;
}

.seven-three h2 {
    margin-left: 400px;
    margin-top: -60px;
}

.seven-three h1 {
    margin-bottom: 150px;
}

.seven-four {
    margin: 100px 10px;
    display: flex;
    justify-content: space-between;
    /* border: 1px solid red;    */
}

.seven-h1 {
    margin-top: 100px;
    color: #FF3F3F;
}

.seven-four img {
    width: 300px;
    height: 200px;
    /* margin-left: 800px; */
}

.eight-img {
    gap: 30px;
    display: flex;
    justify-content: space-evenly;
    /* border: 1px solid red; */
}

.eight-img img {
    margin-top: 50px;
    width: 300px;
    height: 200px;

}