* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

body {
    width: 100%;
    height: auto;
    background: url("./desktop-wallpaper-vinyl-record-music-background-music-aesthetic-laptop.jpg") no-repeat center/cover;
}

nav {
    width: 100%;
    height: 100%;
    /* border: 1px solid rgb(0, 255, 64); */
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-right: 50px;
}

.search {
    width: 400px;
    height: 30px;
    display: flex;
    align-items: center;
    border-radius: 10px;
    padding: 0 10px;
    /* border: 1px solid red; */
    background-color: #fff;
}

.search input {
    width: 80%;
    height: 100%;
    background-color: #fff;
    padding-left: 10px;
    border: none;
    outline: none;
}

.search i {
    color: black;
}

nav img {
    width: 60px;
}

header {
    width: 100%;
    height: 80px;
    background-color: #000000;
    /* border: 1px solid red; */
    padding: 0 30px;
}

.links {
    width: 600px;
    display: flex;
    /* align-items: center; */
    justify-content: space-between;
    /* border: 1px solid blue; */
}

.links a {
    text-decoration: none;
    color: #fff;
}

.links img {
    width: 20px;
    margin-left: 40px;
}

main {
    width: 100%;
    height: 89vh;
    display: flex;
    align-items: center;
    justify-content: center;
    /* border: 1px solid red; */

    background: url("./multiethnic-friends-holding-balloons_23-2147651919.jpg") no-repeat center/cover;

}

section {
    width: 90%;
    height: 90%;
    display: flex;
    /* align-items: center; */
    flex-direction: column;
    justify-content: center;
    /* border: 1px solid blue; */
}

section h1 {
    text-align: center;
    color: #fff;
}

form {
    width: 350px;
    height: 550px;
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    padding: 5px 25px;
    /* border: 1px solid blue; */
    margin-left: 200px;
    background-color: #fff;
    border-radius: 15px;
}

form input {
    width: 100%;
    height: 30px;
    border: 1px solid black;
    outline: none;
    margin-top: 5px;
    padding-left: 10px;
    /* border: 1px solid red; */
    border-radius: 10px;
}

form label {
    margin-top: 20px;
}

form button {
    margin-top: 20px;
    height: 40px;
    border-radius: 10px;
    border: 1px solid black;
    background-color: #000;
    color: #fff;
    cursor: pointer;

}